.Slide{
	padding-top:7%;
    width: 100%;
}

.Slide .text{
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background: rgba(255,255,255,0.5);
	display: inline-block;
    float: right;
    position: absolute;
}

.slide-hide{
    display: none;
}

.slide-show{
    display: block;
}

@-webkit-keyframes fadein {
    from { display: block; opacity: 0; } 
    to { opacity: 1; }
}

@keyframes fadein {
    from { display: block; opacity: 0; } 
    to { opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { opacity: 1; } 
    to { opacity: 0; display: none; }
}

@keyframes fadeout {
    from { opacity: 1; } 
    to { opacity: 0; display: none; }
}

.MerryChristmas{
	background-image: url('../Images/Adds/MerryChristmas.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-position: right;
}

.AmyGrant{
    background-image: url('../Images/Adds/AmyGrant.png');
	background-size: cover;
	background-attachment: scroll;
	background-repeat:no-repeat;
	background-position: top;
}

.christmas-is-here{
	background-image: url('../Images/Adds/WomenShopping.jpg');
	background-size: cover;
	background-attachment: scroll;
	background-repeat:no-repeat;
	background-position: top;
}



.GiftWrapHead{
    background-image: url('../Images/Background/gifts.png');
	background-size: contain;
	background-attachment: scroll;
	background-repeat:no-repeat;
	background-position: right;
}

.PolarExpress{
    background-image: url('../Images/PE.jpg');
	background-size: contain;
	background-attachment: scroll;
	background-repeat:no-repeat;
	background-position: center;
}

.HomeAlone{
    background-image: url('../Images/HomeAlone.jpg');
	background-size: contain;
	background-attachment: scroll;
	background-repeat:no-repeat;
	background-position: center;
}

.ChristmasOffers{
    background-image: url('../Images/christmas-special-offer.jpg');
	background-size: contain;
	background-attachment: scroll;
	background-repeat:no-repeat;
	background-position: center;
}