.card{
    width: 100%;
    padding: 0px;    
    box-shadow: 1px 1px 15px ThreedShadow;
}

.card header{
    width: 100%;
}

.card .body{
    width: 100%;
}

.card .footer{
    width: 100%;
    color: GrayText;
}
.card .text{
    padding: 10px;
    font-size: 18px;
}

.card .img{
    width: 100%;
}